$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;

@mixin translateY($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition: $e;
  -moz-transition: $e;
  transition: $e;
}

body {
  color: white;
  font-weight: 400;
}

a {
  cursor: pointer;
  text-decoration: none;
  @include transition(0.4s ease-in-out);

  &:hover {
    color: $red;
    text-decoration: none;
    @include transition(0.4s ease-in-out);
  }
}
