@import "_config.scss";
$break-point-1: 1300px;
$break-point-2: 850px;
$break-point-3: 910px;

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  h1 {
    padding-bottom: 30px;
    color: #f15b41;
    font-family: "Fredoka One", cursive;
    font-size: 50px;
  }

  .homeMenu {
    background-size: cover;
    background-position: center;
    background-color: #fcdb04;
    height: 100vh;
    overflow: hidden;

    .header-text {
      padding-top: 153px;
      .sub-text {
        text-align: left;
        padding-left: 110px;
        font-family: "Mali", cursive;
        font-size: 90px;
        font-weight: 500;
        color: #f15b41;

        @for $i from 1 through 7 {
          @media screen and (max-width: 1210px - ($i*10)) {
            padding-left: 110px - ($i * 10);
          }
        }
        @media screen and (max-width: 1070px) {
          font-size: 80px;
        }
        @for $i from 1 through 10 {
          @media screen and (max-width: 1040px - ($i*10)) {
            padding-left: 60px - ($i * 10);
          }
        }
        @media screen and (max-width: 992px) {
          padding-left: 60px;
          font-size: 75px;
        }
        @for $i from 1 through 6 {
          @media screen and (max-width: 991px - ($i*10)) {
            padding-left: 60px - ($i * 7);
          }
        }
        @media screen and (max-width: 921px) {
          font-size: 70px;
        }
        @for $i from 1 through 25 {
          @media screen and (max-width: 920px - ($i*10)) {
            padding-left: 20px - ($i * 6);
          }
        }
        @media screen and (max-width: 862px) {
          padding-left: 10px;
          font-size: 70px;
        }
        @media screen and (max-width: 764px) {
          padding-left: 140px;
        }
        @for $i from 1 through 40 {
          @media screen and (max-width: 763px - ($i*10)) {
            padding-left: 140px - ($i * 4);
          }
        }
        @media screen and (max-width: 520px) {
          padding-left: 75px;
          font-size: 60px;
        }
        @for $i from 1 through 10 {
          @media screen and (max-width: 519px - ($i*10)) {
            padding-left: 75px - ($i * 4);
          }
        }
        @media screen and (max-width: 390px) {
          padding-left: 50px;
          font-size: 50px;
        }
        @for $i from 1 through 100 {
          @media screen and (max-width: 389px - ($i*10)) {
            padding-left: 50px - ($i * 4);
          }
        }
      }
      .sub-text:hover {
        animation: bounce 1.5s infinite;
      }

      .main-text {
        color: #f15b41;
        font-size: 150px;
        font-weight: bold;
        text-align: center;
        justify-content: center;
        font-family: "Poller One", cursive;

        @media screen and (max-width: 992px) {
          font-size: 130px;
        }
        @media screen and (max-width: 862px) {
          font-size: 115px;
        }
        @media screen and (max-width: 520px) {
          font-size: 100px;
        }
        @media screen and (max-width: 390px) {
          font-size: 90px;
        }
      }
    }

    .slide-wrapper {
      position: absolute;
      color: #f15b41;
      font-size: 32px;
      font-family: "Fredoka One", cursive;
      font-style: normal;
      font-weight: 300;
      top: 500px;
      left: 920px;
      @for $i from 1 through 13 {
        @media screen and (max-width: 1260px - ($i*20)) {
          left: 920px - ($i * 12);
        }
      }
      @media screen and (max-width: 992px) {
        left: 690px;
        top: 460px;
      }
      @for $i from 1 through 13 {
        @media screen and (max-width: 991px - ($i*10)) {
          left: 690px - ($i * 10);
        }
      }
      @media screen and (max-width: 862px) {
        left: 530px;
        top: 430px;
      }
      @for $i from 1 through 4 {
        @media screen and (max-width: 861px - ($i*10)) {
          left: 530px - ($i * 6);
        }
      }
      @media screen and (max-width: 764px) {
        left: 350px;
        top: 570px;
      }
      @for $i from 1 through 23 {
        @media screen and (max-width: 763px - ($i*10)) {
          left: 350px - ($i * 4);
        }
      }
      @media screen and (max-width: 520px) {
        left: 200px;
        top: 500px;
      }
      @for $i from 1 through 9 {
        @media screen and (max-width: 519px - ($i*10)) {
          left: 200px - ($i * 5);
        }
      }
      @media screen and (max-width: 390px) {
        left: 120px;
        top: 480px;
      }
      @for $i from 1 through 100 {
        @media screen and (max-width: 389px - ($i*20)) {
          left: 120px - ($i * 11);
        }
      }
    }
    .slide-wrapper:hover {
      animation: bounce 1.5s infinite;
    }

    .floating {
      animation-name: floating;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      margin-left: 30px;
      margin-top: 5px;
    }

    span:before {
      content: "";
      animation: main-text-an infinite 10s;
    }

    .bee-gif {
      position: absolute;
      height: 60px;
      width: auto;
      top: 250px;
      left: 1040px;
      @for $i from 1 through 13 {
        @media screen and (max-width: 1260px - ($i*20)) {
          left: 1040px - ($i * 11);
        }
      }
      @media screen and (max-width: 992px) {
        left: 835px;
        top: 240px;
      }
      @for $i from 1 through 13 {
        @media screen and (max-width: 991px - ($i*10)) {
          left: 835px - ($i * 5);
        }
      }
      @media screen and (max-width: 862px) {
        left: 720px;
        top: 220px;
      }
      @for $i from 1 through 13 {
        @media screen and (max-width: 861px - ($i*10)) {
          left: 720px - ($i * 6);
        }
      }
      @media screen and (max-width: 764px) {
        left: 490px;
        top: 360px;
      }
      @for $i from 1 through 23 {
        @media screen and (max-width: 763px - ($i*10)) {
          left: 490px - ($i * 5);
        }
      }
      @media screen and (max-width: 520px) {
        left: 350px;
        top: 340px;
        height: 50px;
        width: auto;
      }
      @for $i from 1 through 9 {
        @media screen and (max-width: 520px - ($i*10)) {
          left: 350px - ($i * 5);
        }
      }
      @media screen and (max-width: 390px) {
        left: 280px;
        top: 310px;
      }
      @for $i from 1 through 100 {
        @media screen and (max-width: 389px - ($i*20)) {
          left: 280px - ($i * 11);
        }
      }
    }
    // .bee-gif:hover {
    //   animation: fly 2s ease-in-out;
    // }

    .sunflower-img {
      height: 200px;
      width: auto;
      position: relative;
      left: 435px;
      top: -299px;
      -webkit-animation: spin 7s linear infinite;
      -moz-animation: spin 7s linear infinite;
      animation: spin 7s linear infinite;

      @for $i from 1 through 12 {
        @media screen and (max-width: 1260px - ($i*20)) {
          left: 435px - ($i * 11);
        }
      }
      @media screen and (max-width: 992px) {
        height: 180px;
        left: 310px;
        top: -270px;
      }
      @for $i from 1 through 28 {
        @media screen and (max-width: 991px - ($i*20)) {
          left: 310px - ($i * 9);
        }
      }
      @media screen and (max-width: 862px) {
        height: 145px;
        left: 279px;
        top: -230px;
      }
      @for $i from 1 through 5 {
        @media screen and (max-width: 861px - ($i*20)) {
          left: 279px - ($i * 10);
        }
      }
      @media screen and (max-width: 764px) {
        left: 440px;
        top: -370px;
      }
      @for $i from 1 through 23 {
        @media screen and (max-width: 763px - ($i*10)) {
          left: 440px - ($i * 5);
        }
      }
      @media screen and (max-width: 520px) {
        left: 310px;
        top: -335px;
        height: 130px;
        width: auto;
      }
      @for $i from 1 through 9 {
        @media screen and (max-width: 520px - ($i*10)) {
          left: 310px - ($i * 5);
        }
      }
      @media screen and (max-width: 390px) {
        left: 250px;
        top: -290px;
        height: 110px;
        width: auto;
      }
      @for $i from 1 through 100 {
        @media screen and (max-width: 390px - ($i*20)) {
          left: 250px - ($i * 11);
        }
      }
    }

    nav {
      position: fixed;
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 8vh;
      transition: background 0.6s;
      width: 100%;
      z-index: 2;

      .logo {
        height: 40px;
        float: left;
        margin: 7px;
      }

      .nav-links {
        float: right;
        margin: 0;

        li {
          display: inline-flex;
          padding: 14px 32px;

          a {
            text-decoration: none;
            font-size: 20px;
            font-weight: 500;
            line-height: normal;
            color: $white;
          }
          a:hover {
            text-decoration: none;
            color: #f15b41;
          }
        }
      }
    }
  }

  nav.black {
    background: #43542a;
  }

  .burger {
    display: none;

    div {
      width: 25px;
      height: 2px;
      background-color: rgb(226, 226, 226);
      margin: 5px;
      transition: all 0.5s ease;
    }
  }

  nav.shrink {
    background-color: #43542a;
    .nav-links {
      position: absolute;
      right: 0px;
      background: #43542a;
      display: flex;
      flex-direction: column;
      height: 95vh;
      top: 8vh;
      align-items: center;
      width: 40%;
      transform: translate(100%);
      text-align: center;

      li {
        opacity: 0;
        padding: 33px;
        padding-left: 5px;
        justify-content: left;
        a {
          font-size: 16px;
        }
      }
    }
    .burger {
      display: block;
      padding-left: 90px;
      cursor: pointer;
    }
    .nav-active {
      transform: translateX(0%);
      transition: transform 0.8s ease-in;
    }

    .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 5px);
      transition: 0.5s;
    }
    .toggle .line2 {
      opacity: 0;
    }
    .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -5px);
      transition: 0.5s;
    }
  }

  .about-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .about-container {
    margin: 4%;
    margin-top: 7%;
    padding: 2%;
    display: flex;
    margin-bottom: 2%;

    @media screen and (max-width: $break-point-2) {
      flex-direction: column;
      .about-image {
        margin: 4%;
        margin-top: 100px;
      }
      .about-text {
        margin: 4%;
      }
    }
    a:hover {
      text-decoration: none;
    }

    .about-image {
      flex: 0 0 27%;
      align-content: center;
      .profile-picture {
        margin-top: 30px;
        max-width: 100%;
        height: auto;
        border-radius: 100%;
        transition: all 0.2s ease-in-out;
      }

      .profile-picture:hover {
        -webkit-box-shadow: 0px 0px 30px 0px #fff;
        -moz-box-shadow: 0px 0px 30px 0px #fff;
        box-shadow: 0px 0px 30px 0px #fff;
      }
    }

    .hovereffect {
      text-align: center;
      cursor: default;
      .overlay {
        overflow: hidden;
      }
    }

    .hovereffect:hover img {
      -webkit-transform: translate3d(0, -10%, 0);
      transform: translate3d(0, -10%, 0);
    }
    .hovereffect p.icon-links a {
      float: right;
      color: #fea900;
      font-size: 35px;
    }

    .hovereffect:hover p.icon-links a:hover,
    .hovereffect:hover p.icon-links a:focus {
      color: #fbba00;
    }

    .hovereffect p.icon-links a {
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: translate3d(0, 200%, 0);
      transform: translate3d(0, 200%, 0);
      visibility: visible;
    }

    .hovereffect p.icon-links a span:before {
      display: inline-block;
      padding: 8px 10px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .hovereffect:hover .overlay,
    .hovereffect:hover h2,
    .hovereffect:hover p.icon-links a {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    .hovereffect:hover p.icon-links a:nth-child(4) {
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s;
    }
    .hovereffect:hover p.icon-links a:nth-child(3) {
      -webkit-transition-delay: 0.15s;
      transition-delay: 0.1s;
    }

    .hovereffect:hover p.icon-links a:nth-child(2) {
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.15s;
    }

    .hovereffect:hover p.icon-links a:first-child {
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.2s;
    }

    .about-text {
      margin-left: 9%;
      margin-right: 5%;
      color: #43542a;
    }
  }

  .interests-header,
  .projects-header,
  .experiences-header {
    text-align: center;
    padding-top: 80px;
    line-height: normal;
  }

  .projects-container {
    width: 86%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
    margin: 3%;
    margin-left: 7%;

    @media screen and (max-width: $break-point-1) {
      justify-content: center;
    }

    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      margin: 20px;
      background-color: #fcdb04;

      panel-title {
        text-decoration: none;
      }

      .face {
        width: 300px;
        height: 200px;
        border-radius: 40px;
      }
      .face1 {
        display: flex;
        background: #fff;
        justify-content: center;
        align-items: center;
        z-index: 1;

        .btn-link {
          cursor: default;
          text-decoration: none;
        }

        .pro-content {
          opacity: 0.5;
          transition: 0.5s;
          img {
            max-width: 100px;
          }

          h3 {
            margin: 10px 0 0;
            padding: 0;
            color: black;
            text-align: center;
            font-size: 1.5em;
          }
        }
      }
      .face2 {
        justify-content: center;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: -6px -6px 20px rgba(255, 255, 255, 0.1),
          6px 6px 20px rgba(0, 0, 0, 0.1);

        .pro2-content {
          p {
            margin: 0;
            padding: 0;
          }

          .readMore {
            text-decoration: none;
            overflow: hidden;
            margin-top: 25px;
            text-align: center;
            width: 120px;
            border-radius: 10px;
            display: inline-block;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            padding: 6px;
            background-color: lightgrey;
            letter-spacing: 1px;
          }
        }
      }
    }

    .card:hover {
      .face1 {
        background: lightcyan;
        .pro-content {
          opacity: 1;
        }
      }
    }
  }

  .vol-header,
  .work-header {
    margin-left: 9%;
    padding-top: 50px;
  }

  .experiences-container {
    width: 86%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
    margin: 3%;
    margin-left: 7%;

    @media screen and (max-width: $break-point-1) {
      justify-content: center;
    }

    .box {
      box-shadow: -6px -6px 20px rgba(255, 255, 255, 0.1),
        6px 6px 20px rgba(0, 0, 0, 0.1);
      display: flex;
      border-radius: 40px;
      justify-content: center;
      align-items: center;
      width: 320px;
      height: 420px;
      margin: 20px;

      .content {
        padding: 9%;
        text-align: center;
      }

      p {
        padding: 11% 0;
      }

      h3 {
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 700;
      }

      .readMore {
        text-decoration: none;
        overflow: hidden;
        margin-top: 25px;
        text-align: center;
        width: 120px;
        border-radius: 10px;
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        padding: 6px;
        letter-spacing: 1px;
        background-color: lightgrey;
      }
    }

    .box:hover {
      box-shadow: inset -6px -6px 10px rgba(255, 255, 255, 0.5),
        inset 6px 6px 20px rgba(0, 0, 0, 0.05);
    }

    .work {
      width: 450px;
      height: 500px;
    }
  }

  .interests-area {
    h2 {
      text-align: center;
      padding: 100px;
      padding-top: 0px;
      font-weight: bolder;
    }
  }

  footer {
    width: 100%;
    background-color: #44210f;
    color: white;
    text-align: center;
    position: absolute;
    padding-top: 2%;

    p {
      color: white;
    }
    .wrapper {
      padding: 10px;
      text-align: center;

      .list-unstyled {
        padding-left: 0;
        list-style: none;
      }
      .list-inline {
        li {
          display: inline-block;
          padding-right: 5px;
          padding-left: 5px;
          margin-bottom: 10px;
        }
      }
      .social-icons .fa {
        font-size: 1.8em;
      }
      /*Change icons circle size and color here*/
      .social-icons .fa {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #fff;
        color: rgba(255, 255, 255, 0.8);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }

      .social-icons.icon-circle .fa {
        border-radius: 50%;
      }

      .social-icons .fa:hover,
      .social-icons .fa:active {
        color: #fff;
        -webkit-box-shadow: 1px 1px 3px #333;
        -moz-box-shadow: 1px 1px 3px #333;
        box-shadow: 1px 1px 3px #333;
      }
      .social-icons.icon-zoom .fa:hover,
      .social-icons.icon-zoom .fa:active {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
      }
      .social-icons .fa-linkedin {
        background-color: #fbb50a;
      }
      .social-icons .fa-github-alt {
        background-color: #fbdb04;
      }
      .social-icons .fa-envelope {
        background-color: #fa8f28;
      }
      .social-icons .fa-file-pdf {
        background-color: #f15b41;
      }
    }
  }

  .rainbow {
    background-color: #343a40;
    color: #fff;
  }

  .readMore:hover {
    background-image: linear-gradient(
      to right,
      #ff9fbb,
      #ff9fbb 16.65%,
      #ffc8ae 16.65%,
      #ffc8ae 33.3%,
      #fcffa6 33.3%,
      #fcffa6 49.95%,
      #bdffb2 49.95%,
      #bdffb2 66.6%,
      #bdd8ff 66.6%,
      #bdd8ff 83.25%,
      #c6aeff 83.25%,
      #c6aeff 100%,
      #ff9fbb 100%
    );
    animation: slidebg 5s linear infinite;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(-20px);
  }
}

// @keyframes fly {
//   0% {
//     -webkit-transform: translate(0) scaleX(1);
//   }
//   0.01% {
//     -webkit-transform: translate(0) scaleX(1);
//   }
//   49.99% {
//     -webkit-transform: translate(300px) scaleX(1);
//   }
//   50% {
//     -webkit-transform: translate(300px) scaleX(-1);
//   }
//   50.01% {
//     -webkit-transform: translate(300px) scaleX(-1);
//   }
//   99.99% {
//     -webkit-transform: translate(0) scaleX(-1);
//   }
//   100% {
//     -webkit-transform: translate(0) scaleX(1);
//   }
// }

@keyframes main-text-an {
  0% {
    content: "a    DEVELOPER 👩‍💻";
  }
  20% {
    content: "an    ENGINEER 👩‍🚀";
  }
  40% {
    content: "a    SCIENTIST 👩‍🔬";
  }
  60% {
    content: "an   ARTIST 👩‍🎨";
  }
  80% {
    content: "a    DETECTIVE 🕵️‍♀️";
  }
  100% {
    content: "a    LEARNER 👩‍🎓";
  }
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}
