@import "_config.scss";
$break-point-1: 1300px;
$break-point-2: 650px;
$break-point-3: 991px;

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  .homeMenu {
    background: linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5)),
      url(backdrop.jpg);
    background-size: cover;
    background-position: center;
    color: $white;
    height: 100vh;

    h1 {
      font-size: 48px;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      padding-top: 300px;
    }

    nav {
      position: fixed;
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 8vh;
      transition: background 0.6s;
      width: 100%;
      z-index: 2;

      .logo {
        height: 40px;
        float: left;
        margin: 7px;
      }

      .nav-links {
        float: right;
        margin: 0;

        li {
          display: inline-flex;
          padding: 14px 32px;

          a {
            text-decoration: none;
            font-size: 14px;
            line-height: normal;
            letter-spacing: 3px;
            color: $white;
          }
          a:hover {
            text-decoration: none;
            color: $red;
          }
        }
      }
    }
  }

  nav.black {
    background: #000;
  }

  .burger {
    display: none;

    div {
      width: 25px;
      height: 2px;
      background-color: rgb(226, 226, 226);
      margin: 5px;
      transition: all 0.5s ease;
    }
  }

  nav.shrink {
    background-color: $black;
    .nav-links {
      position: absolute;
      right: 0px;
      background: $black;
      display: flex;
      flex-direction: column;
      height: 95vh;
      top: 8vh;
      align-items: center;
      width: 65%;
      transform: translate(100%);
      text-align: center;

      li {
        opacity: 0;
        padding: 33px;
        justify-content: center;
        a {
          font-size: 15px;
        }
      }
    }
    .burger {
      display: block;
      margin-right: 8%;
      cursor: pointer;
    }
    .nav-active {
      transform: translateX(0%);
      transition: transform 0.8s ease-in;
    }

    .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 5px);
      transition: 0.5s;
    }
    .toggle .line2 {
      opacity: 0;
    }
    .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -5px);
      transition: 0.5s;
    }
  }

  .about-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .about-container {
    margin: 4%;
    margin-top: 7%;
    padding: 2%;
    display: flex;
    margin-bottom: 2%;

    @media screen and (max-width: $break-point-2) {
      flex-direction: column;
      .about-image {
        margin: 4%;
        margin-top: 100px;
      }
      .about-text {
        margin: 4%;
      }
    }

    .about-image {
      flex: 0 0 27%;
      margin-left: 5%;

      .profile-picture {
        margin-top: 20px;
        max-width: 100%;
        height: auto;
        border-radius: 100%;
      }
    }

    .about-header {
      padding-bottom: 30px;
    }

    .about-text {
      margin-left: 9%;

      margin-right: 5%;
    }
  }

  .interests-header,
  .projects-header,
  .experiences-header {
    text-align: center;
    padding-top: 80px;
    line-height: normal;
  }

  .projects-container {
    width: 86%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
    margin: 3%;
    margin-left: 7%;

    @media screen and (max-width: $break-point-1) {
      justify-content: center;
    }

    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      margin: 20px;

      panel-title {
        text-decoration: none;
      }

      .face {
        width: 300px;
        height: 200px;
        border-radius: 40px;
      }
      .face1 {
        display: flex;
        background: #fff;
        justify-content: center;
        align-items: center;
        z-index: 1;

        .btn-link {
          cursor: default;
          text-decoration: none;
        }

        .pro-content {
          opacity: 0.5;
          transition: 0.5s;
          img {
            max-width: 100px;
          }

          h3 {
            margin: 10px 0 0;
            padding: 0;
            color: black;
            text-align: center;
            font-size: 1.5em;
          }
        }
      }
      .face2 {
        justify-content: center;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: -6px -6px 20px rgba(255, 255, 255, 0.1),
          6px 6px 20px rgba(0, 0, 0, 0.1);

        .pro2-content {
          p {
            margin: 0;
            padding: 0;
          }

          .readMore {
            text-decoration: none;
            overflow: hidden;
            margin-top: 25px;
            text-align: center;
            width: 120px;
            border-radius: 10px;
            display: inline-block;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            padding: 6px;
            background-color: lightgrey;
            letter-spacing: 1px;
          }
        }
      }
    }

    .card:hover {
      .face1 {
        background: lightcyan;
        .pro-content {
          opacity: 1;
        }
      }
    }
  }

  .vol-header,
  .work-header {
    margin-left: 9%;
    padding-top: 50px;
  }

  .experiences-container {
    width: 86%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
    margin: 3%;
    margin-left: 7%;

    @media screen and (max-width: $break-point-1) {
      justify-content: center;
    }

    .box {
      box-shadow: -6px -6px 20px rgba(255, 255, 255, 0.1),
        6px 6px 20px rgba(0, 0, 0, 0.1);
      display: flex;
      border-radius: 40px;
      justify-content: center;
      align-items: center;
      width: 320px;
      height: 420px;
      margin: 20px;

      .content {
        padding: 9%;
        text-align: center;
      }

      p {
        padding: 11% 0;
      }

      h3 {
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 700;
      }

      .readMore {
        text-decoration: none;
        overflow: hidden;
        margin-top: 25px;
        text-align: center;
        width: 120px;
        border-radius: 10px;
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        padding: 6px;
        letter-spacing: 1px;
        background-color: lightgrey;
      }
    }

    .box:hover {
      box-shadow: inset -6px -6px 10px rgba(255, 255, 255, 0.5),
        inset 6px 6px 20px rgba(0, 0, 0, 0.05);
    }

    .work {
      width: 450px;
      height: 500px;
    }
  }

  .interests-area {
    justify-content: center;
    align-self: center;
    min-height: 100vh;
  }

  .interests-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-columns: minmax(100px, auto);
    margin: 40px;
    grid-auto-flow: dense;

    @media screen and (max-width: $break-point-3) {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      grid-template-columns: minmax(auto, auto);

      .interests-box {
        grid-column: unset;
        grid-row: unset;
      }
    }

    .interests-box {
      padding: 20px;
      display: grid;
      font-size: 20px;
      place-items: center;
      text-align: center;
      transition: 0.5s;

      img {
        max-width: 100px;
        margin-bottom: 10px;
      }
    }
    .interests-box:hover {
      background: #e91e63;
    }

    .interests-box:nth-child(1) {
      grid-column: span 2;
      grid-row: span 2;
    }
    .interests-box:nth-child(2) {
      grid-column: span 1;
      grid-row: span 2;
    }
    .interests-box:nth-child(4) {
      grid-column: span 1;
      grid-row: span 2;
    }
    .interests-box:nth-child(5) {
      grid-column: span 3;
      grid-row: span 1;
    }
  }

  footer {
    width: 100%;
    background-color: $black;
    color: white;
  }

  .rainbow {
    background-color: #343a40;
    color: #fff;
  }

  .readMore:hover {
    background-image: linear-gradient(
      to right,
      #ff9fbb,
      #ff9fbb 16.65%,
      #ffc8ae 16.65%,
      #ffc8ae 33.3%,
      #fcffa6 33.3%,
      #fcffa6 49.95%,
      #bdffb2 49.95%,
      #bdffb2 66.6%,
      #bdd8ff 66.6%,
      #bdd8ff 83.25%,
      #c6aeff 83.25%,
      #c6aeff 100%,
      #ff9fbb 100%
    );
    animation: slidebg 5s linear infinite;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
