@import "_config.scss";

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  .homeMenu {
    background: linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5)),
      url(backdrop.jpg);
    background-size: cover;
    background-position: center;
    color: $white;
    height: 100vh;

    h1 {
      font-size: 48px;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      padding-top: 300px;
    }

    nav {
      position: fixed;
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 8vh;
      transition: background 0.6s;
      width: 100%;

      .logo {
        height: 40px;
        float: left;
        margin: 7px;
      }

      .nav-links {
        float: right;
        margin: 0;

        li {
          display: inline-flex;
          padding: 14px 32px;

          a {
            text-decoration: none;
            font-size: 14px;
            line-height: normal;
            letter-spacing: 3px;
            color: $white;
          }
          a:hover {
            text-decoration: none;
            color: $red;
          }
        }
      }
    }
  }

  .burger {
    display: none;

    div {
      width: 25px;
      height: 2px;
      background-color: rgb(226, 226, 226);
      margin: 5px;
      transition: all 0.5s ease;
    }
  }

  nav.black {
    background: #000;
  }

  nav.shrink {
    background-color: $black;
    .nav-links {
      position: absolute;
      right: 0px;
      background: $black;
      display: flex;
      flex-direction: column;
      height: 95vh;
      top: 9.5vh;
      align-items: center;
      width: 50%;
      transition: ease-out 0.4s;
      transform: translate(100%);

      li {
        opacity: 0;
        padding: 38px 45px;
      }
    }
    .burger {
      display: block;
      cursor: pointer;
    }
    .nav-active {
      transition: transform 0.5s ease-in;
      transform: translateX(0%);
    }

    .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 5px);
      transition: 0.5s;
    }
    .toggle .line2 {
      opacity: 0;
    }
    .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -5px);
      transition: 0.5s;
    }
  }

  // .animation {
  //   height: 100%;
  //   width: 100%;
  //   background-image: linear-gradient(45deg, #fbc2eb 0%, #a6c1ee 100%);

  //   .paper-plane {
  //     height: 100px;
  //     position: absolute;
  //     top: 50%;
  //     left: 0%;
  //   }
  // }

  // .experiences-area,
  // .projects-area,
  // .interests-area,
  // .about-area {
  //   justify-content: space-around;
  //   display: flex;
  //   flex-wrap: wrap;
  //   flex-direction: row;
  //   align-items: center;
  //   height: 700px;

  //   .text-apart {
  //     width: 65%;
  //     height: 80%;
  //   }

  //   p {
  //     font-size: 18px;
  //     line-height: 28px;
  //     color: #333;
  //     text-align: justify;
  //   }
  // }

  .projects-area {
    width: 100%;
    text-align: center;
    overflow-x: hidden;
    .projects-header {
      padding-top: 70px;
      padding-bottom: 8px;
      line-height: normal;
    }
  }

  .container-left {
    float: left;
    padding-left: 45px;
  }

  .container-center {
    display: inline-block;
    margin: 0 auto;
  }

  .container-right {
    float: right;
    padding-right: 45px;
  }

  // .container-left,
  // .container-center,
  // .container-right {
  //   display: inline-flex;
  //   *display: inline;
  //   text-align: center;
  // }

  .box {
    width: 350px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;

    .icon {
      width: 80px;
      height: 80px;
      color: #fff;
      background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      border-radius: 50%;
      font-size: 40px;
      font-weight: 700;
      transition: 1s ease;
    }
    a {
      text-decoration: none;
      color: lightblue;
    }
    a:hover {
      text-decoration: none;
      color: $white;
    }
    img {
      height: 70px;
    }
  }

  .box:nth-child(1) .icon {
    box-shadow: 0 0 0 0 #e91e69;
    background: #e91e63;
  }
  .box:nth-child(1):hover .icon {
    box-shadow: 0 0 0 400px #e91e69;
  }

  footer {
    width: 100%;
    background-color: $black;
    color: white;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
